In [1]:
import pandas as pd

```bash
pip install sqlalchemy psycopg2-binary 
```

In [3]:
pip install sqlalchemy psycopg2-binary

Collecting sqlalchemyNote: you may need to restart the kernel to use updated packages.
  Downloading SQLAlchemy-1.4.44-cp310-cp310-win_amd64.whl (1.6 MB)
     ---------------------------------------- 1.6/1.6 MB 5.3 MB/s eta 0:00:00
Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.5-cp310-cp310-win_amd64.whl (1.2 MB)
     ---------------------------------------- 1.2/1.2 MB 6.2 MB/s eta 0:00:00
Collecting greenlet!=0.4.17
  Downloading greenlet-2.0.1-cp310-cp310-win_amd64.whl (190 kB)
     -------------------------------------- 190.9/190.9 kB 5.8 MB/s eta 0:00:00
Installing collected packages: psycopg2-binary, greenlet, sqlalchemy
Successfully installed greenlet-2.0.1 psycopg2-binary-2.9.5 sqlalchemy-1.4.44

WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)

In [3]:
from sqlalchemy import create_engine
import psycopg2

In [6]:
engine = create_engine('postgresql://samkonsadmin:sampostgres.postgres.database.azure.com:5432/ny_taxi')

In [32]:
def get_engine(database=dbName, username=dbUser, password=dbPass, host=dbHost, port=5432):
    engine_string = f"postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}"
    engine = create_engine(engine_string)
    print("Database connection done!")
    return engine

In [35]:
get_engine('postgres', 'samkonsadmin','root','92.73.53.86')

Database connection done!

Engine(postgresql+psycopg2://samkonsadmin:***@92.73.53.86:5432/postgres)

In [53]:
database='postgres' 
username='postgres' 
password='root'
host='localhost'
port=5432
engine_string = f"postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}"
engine = create_engine(engine_string)
print("Database connection done!")

Database connection done!

In [54]:
engine.connect()

In [57]:
print(pd.io.sql.get_schema(df, name='test'))

NameError: name 'df' is not defined

In [1]:
password='root'
database='root'
conn = psycopg2.connect(host='sampostgres.postgres.database.azure.com', port=5432, dbname={database}, user='samkonsadmin', password={password}, sslmode='require')

NameError: name 'psycopg2' is not defined

In [55]:
query = """
SELECT * from postgres;
"""

pd.read_sql(query, con=engine)

ProgrammingError: (psycopg2.errors.UndefinedTable) relation "postgres" does not exist
LINE 2: SELECT * from postgres;
                      ^

[SQL:
SELECT * from postgres;
]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [ ]:
query = """
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';
"""

pd.read_sql(query, con=engine)

In [12]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

In [13]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [15]:
df.to_sql(name='yellow_tripdata_trip', con=engine, index=False)

In [19]:
query = """
SELECT * FROM yellow_tripdata_trip LIMIT 10
"""

pd.read_sql(query, con=engine)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5
5,1,2021-01-01 00:16:29,2021-01-01 00:24:30,1,1.60,1,N,224,68,1,8.0,3.0,0.5,2.35,0.0,0.3,14.15,2.5
6,1,2021-01-01 00:00:28,2021-01-01 00:17:28,1,4.10,1,N,95,157,2,16.0,0.5,0.5,0.00,0.0,0.3,17.30,0.0
7,1,2021-01-01 00:12:29,2021-01-01 00:30:34,1,5.70,1,N,90,40,2,18.0,3.0,0.5,0.00,0.0,0.3,21.80,2.5
8,1,2021-01-01 00:39:16,2021-01-01 01:00:13,1,9.10,1,N,97,129,4,27.5,0.5,0.5,0.00,0.0,0.3,28.80,0.0
9,1,2021-01-01 00:26:12,2021-01-01 00:39:46,2,2.70,1,N,263,142,1,12.0,3.0,0.5,3.15,0.0,0.3,18.95,2.5

```sql
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';
```

Source: https://www.postgresqltutorial.com/postgresql-show-tables/